---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import firstcard from "../data/firstcard.json";
import facilities from "../data/facilities.json";
import blog from "../data/blog.json";
import Footer from "../components/Footer.astro";
import Navbar from "../components/Nabar.astro";

import { Icon } from "astro-icon";
// import Vision from "../layouts/Icons";
---

<Layout title="Welcome to Crown-Hill University">
	<main>
		<Navbar />
		<section
			class="flex h-screen text-[#fff] bg-[url('/Images/hero-section-img.png')] bg-cover bg-center bg-no-repeat"
		>
			<div
				class="md:max-w-[50%] max-w-[85%] flex-col justify-center m-auto text-center"
			>
				<h1
					class="md:text-[3vw] text-2xl w-full m-auto text-center uppercase font-semibold font-sanbold"
				>
					Broaden Your Horizon In Crown Hill University
				</h1>
				<p class="max-w-[90%] m-auto mt-4">
					Crown-Hill University is saddled with the responsibility of
					promoting knowledge driven solutions through teaching,
					learning, research and character development driven by
					integrated information and communication technology
					facilities, and more.
				</p>
				<section
					class="flex lg:flex-row flex-col lg:gap-10 space-y-5 lg:space-y-0 mt-5 justify-center"
				>
					<button
						class="text-[#000] lg:w-[40%] h-[3rem] flex items-center text-center relative"
					>
						<h4
							class="w-[80%] h-full flex items-center justify-center bg-[#fff] rounded-tl-lg rounded-bl-lg text-[#1F386B] font-semibold"
						>
							Apply Now
						</h4>
						<span
							class="bg-[#1F386B] w-[20%] h-full rounded-tr-lg rounded-br-lg flex"
						>
							<Icon
								name="mdi:key"
								class="text-[#fff] w-6 h-6 m-auto"
							/>
						</span>
					</button>
					<button
						class="lg:w-[30%] h-[3rem] border-2 border-[#fff] rounded-lg flex items-center gap-6 justify-center"
					>
						<Icon
							name="ph:student-light"
							class="text-[#fff] w-6 h-6"
						/>
						Student Login</button
					>
				</section>
			</div>
		</section>
		<section class="w-[80%] m-auto mt-[-3rem]">
			<div class="flex lg:flex-row flex-col gap-10">
				{
					firstcard.map((data: any) => (
						<div class="bg-[#fff] rounded p-3 lg:w-[50%] w-[80%] lg:m-0 m-auto">
							<>
								<img
									src={`/Images/${data.img}`}
									class="w-[3rem] h-[3rem]"
								/>
								<h3 class="font-semibold text-lg">
									{data.title}
								</h3>
								<p class="text-sm font-normal">{data.desc}</p>
							</>
						</div>
					))
				}
			</div>

			<button
				class="border-2 border-[#1F386B] text-[#1F386B] flex m-auto mt-10 px-5 py-2 rounded font-semibold"
				>Apply For Admission</button
			>
		</section>
		<section class="w-[90%] m-auto mt-20">
			<div class="flex-col gap-3 text-center">
				<h4 class="text-[#3056D3] font-semibold">Gallery</h4>
				<h2 class="font-bold text-2xl text-[#2E2E2E]">
					Our Facilities
				</h2>
				<p class="font-semibold text-[#637381]">
					We've got a conducive and serene environment for learning!
				</p>
			</div>
			<div class="mt-14">
				<div class="grid lg:grid-cols-3 gap-y-[10rem] gap-x-10">
					{
						facilities.map((data) => (
							<div class="relative h-[20rem] w-[80%] m-auto lg:m-0 lg:h-[200px] lg:w-[335px]">
								<img
									src={`/Images/${data.img}.png`}
									class="w-full h-full z-[-1] relative"
								/>

								<div class="bg-[#fff] mt-[-2rem] w-[15rem] h-[7rem] m-auto flex-col text-center rounded py-4">
									<h4 class="font-semibold text-lg">
										{data.title}
									</h4>
									<button class="border-[1px] border-[#EAEAEA] mt-5 px-3 py-1">
										More Photos
									</button>
								</div>
							</div>
						))
					}
				</div>
			</div>
		</section>

		<section class="w-[90%] m-auto mt-[14rem]">
			<div class="flex-col gap-3 text-center">
				<h4 class="text-[#3056D3] font-semibold">Blog</h4>
				<h2 class="font-bold text-2xl text-[#2E2E2E]">Recent News</h2>
				<p class="font-semibold text-[#637381]">
					Get updated with latest news around the Campus!
				</p>
			</div>
			<div class="mt-14">
				<div class="grid lg:grid-cols-3 gap-x-5 gap-y-6">
					{
						blog.map((data) => (
							<div class="relative bg-[#fff] px-3 py-4 lg:w-[23rem] rounded">
								<img
									src={`/Images/${data.img}`}
									class="w-full h-[14rem]"
								/>
								<div class="w-full h-[60%] flex-col">
									<h3 class="font-semibold pt-5 pb-3 text-lg">
										{data.title}
									</h3>
									<p class="text-sm text-[#333333B2] font-base">
										{data.desc}
									</p>
									<button class="text-[#1F386B] font-base mt-4 text-base">
										Read More {">>"}
									</button>
								</div>
							</div>
						))
					}
				</div>
			</div>
		</section>

		<Footer />
	</main>
</Layout>
